<%- include('partials/head',{title}) %><%- include('partials/nav') %><main class="message"><div class="hero-mark small"><img src="/icon.svg" alt=""></div><h1><%= title %></h1><p><%= message %></p><a class="button" href="/">Return home</a></main><%- include('partials/foot') %>
